@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Accounts.ViewModel.UserInfoListViewModel
@Html.ActionLink("Add new user", "NewUser", "Home")
@if (Model.Users == null || !Model.Users.Any()) {
    <p>No registered users.</p>
}
else {
    <table>
        <thead>
        <tr>
            <td></td>
            <td>Given name</td>
            <td>Surname</td>
            <td>Departmentt</td>
            <td>Generated</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var userInfo in Model.Users)
        {
            <tr>
                <td><input type="checkbox"/></td>
                <td>@userInfo.GivenName</td>
                <td>@userInfo.Surname</td>
                <td>@userInfo.Department</td>
                <td><input type="checkbox" readonly checked="@userInfo.Generated"/></td>
            </tr>
        }
        
        </tbody>
    </table>
}